{{#each rows as |row|}}
  <div class="row">
    {{#each this}}
      {{#if this}}
        <div class="light col-{{1}}" style="background-color:{{this}};"></div>
      {{else}}
        <div class="light col-{{1}}"></div>
      {{/if}}
    {{/each}}
  </div>
{{/each}}
