@import '~bootstrap/scss/bootstrap';

body {
  background-image: url('./public/wooden-background.jpg');
  color: gold;
  font-family: cursive;
  text-align: center;
}

h1 {
  margin-top: 2vh;
}

.display {
  background-color: green;
  border: 10px solid gold;
  border-radius: 10px;
  height: 72vh;
  margin-top: 5vh;
  text-align: center;
  width: 72vh;
}

.light {
  background-color: grey;
  border: 1px solid black;
  border-radius: 100%;
  display: inline;
  height: 1.5vh;
  margin: 1.5vh;
  width: 1.5vh;
}

.hidden {
  display: none;
}
